@import "tailwindcss";
/* src/styles/globals.css */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Pacifico&family=Rakkas&family=Volkhov&display=swap');

/* System fonts */
@font-face {
  font-family: "Lucida Bright";
  src: local("Lucida Bright");
}

@font-face {
  font-family: "Rage Italic";
  src: local("Rage Italic");
}

/* Example classes */
.font-cinzel {
  font-family: 'Cinzel', serif;
}

.font-cinzel-decorative {
  font-family: 'Cinzel Decorative', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-rakkas {
  font-family: 'Rakkas', cursive;
}

.font-volkhov {
  font-family: 'Volkhov', serif;
}

.font-georgia {
  font-family: Georgia, serif;
}

.font-lucida-bright {
  font-family: 'Lucida Bright', serif;
}

.font-rage-italic {
  font-family: 'Rage Italic', cursive;
}


.carousel-wrapper{
  overflow-x: auto;
overflow-y: hidden;
scrollbar-width: none;
-ms-overflow-style: none; 
}


.carousel-wrapper::-webkit-scrollbar {
  display: none;
}


/* Add these styles to your CSS file */

.btn-submit {
  background-color: #68412B;
  transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
  background-color: #4d2e20; /* Hover color */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Hover shadow */
  cursor: pointer; /* Add pointer cursor */
}
